html {
  scroll-behavior: smooth;
}
/*-------------------------------------------------------*/
.hero {
  height: 880px;
  background-color: #8e1616;
}
.hero-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 150px;
  gap: 200px;
}
.hero-content h1 {
  max-width: 400px;
  font-size: 128px;
  font-weight: 900;
  line-height: 90%;
  color: white;
}
.hero-content img {
  transition: transform 0.1s ease-in;
  transform-style: preserve-3d;
}
.hero-button {
  border-color: #8e1616;
  margin-top: 30px;
  background-color: #fff;
  color: #8e1616;
  padding: 15px 30px;
  font-size: 24px;
  font-weight: 600;
  border-radius: 10px;
}
.hero-button:hover {
  border-color: #fff;
  background-color: #8e1616;
  color: white;
  transition: 1.5s;
}
/*---------------------------about section--------------------------------*/
#about {
  padding-top: 300px;
  width: 100px;
  height: 50px;
  margin: auto;
}
.about-us {
  max-width: 1200px;
  max-height: 500px;
  display: flex;
  margin: auto;
  gap: 152px;
}
.about-us h2 {
  padding-top: 81px;
  text-align: center;
  font-size: 64px;
  font-weight: 900;
}
.about-us h2::after {
  content: "";
  display: block;
  border-radius: 10px;
  width: 40%;
  height: 5px;
  background-color: #8e1616;
  margin: 5px auto 0;
}
.about-us p {
  margin-top: 42px;
  text-align: center;
  max-width: 562px;
  font-size: 16px;
}
/*-----------------------------------------------------------*/
#shop {
  padding-top: 300px;
  width: 100px;
  height: 50px;
  margin: auto;
}
.shop {
  margin: auto;
  max-width: 1200px;
  max-height: 1200px;
  text-align: center;
}
.shop h2::after {
  content: "";
  display: block;
  border-radius: 10px;
  width: 8%;
  height: 5px;
  background-color: #8e1616;
  margin: 5px auto 0;
}
.shop h2 {
  font-size: 64px;
  font-weight: 900;
  margin-bottom: 51px;
}
.latest-product h3 {
  font-size: 48px;
  margin-bottom: 80px;
}
.latest-product h3::after {
  content: "";
  display: block;
  border-radius: 10px;
  width: 15%;
  height: 5px;
  background-color: #8e1616;
  margin: 5px auto 0;
}
.latest-product {
  margin: auto;
  max-width: 1200px;
  max-height: 1200px;
  margin-top: 150px;
  text-align: center;
}
.grid-items img:hover {
  transform: translate(-5px, -10px);
  transition: 0.8s ease-out;
}
.grid-items {
  margin: auto;
  width: 940px;
  height: 463;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}
.p-button {
  margin: auto;
  text-align: center;
}
.product-button {
  margin-top: 50px;
  background-color: #8e1616;
  border-color: #8e1616;
  color: white;
  padding: 15px 30px;
  font-size: 24px;
  font-weight: 600;
  border-radius: 10px;
}
.product-button:hover {
  background-color: white;
  color: #8e1616;
  border-color: #8e1616;
  border-radius: 0%;
  transform: 1.5s;
  transition: 1.5s;
}
.categories {
  margin: auto;
  text-align: center;
  max-width: 1200px;
  max-height: 350px;
}
.categories h2 {
  font-size: 48px;
  font-weight: 900;
  margin-top: 47px;
}
.categories h2::after {
  content: "";
  display: block;
  border-radius: 10px;
  width: 15%;
  height: 5px;
  background-color: #8e1616;
  margin: 5px auto 0;
}
.categories-pic {
  padding-top: 21px;
  justify-content: center;
  display: flex;
  gap: 51px;
}
.categories-pic h3 {
  font-size: 24px;
  font-weight: 600;
}
.categories img:hover {
  transform: translate(-5px, -10px);
  transition: 0.8s ease-out;
}
.third {
  margin: auto;
  max-width: 1200px;
  max-height: 250px;
  margin-top: 61px;
  align-items: center;
  border-radius: 40px;
  display: flex;
  background-color: #d84040;
  padding: 50px 0;
}
.third-pic {
  margin: 0 auto;
  max-width: 280px;
  max-height: 572px;
  cursor: pointer;
}
.third-pic:hover {
  transform: translate(-5px, -10px);
  transition: 0.8s ease-out;
}
.third-pic img {
  max-width: 120px;
  max-height: 306px;
}

.third-texts {
  margin: 0 auto 0;
  max-width: 523px;
  max-height: 263px;
}
.third-texts h2 {
  font-size: 32px;
  font-weight: 900;
  color: white;
}
.third-texts p {
  margin-top: 30px;
  font-size: 14px;
  font-weight: 600;
  color: white;
}
/*-----------------------------------------------------------*/
.why-items {
  user-select: none;
  margin-top: 200px;
}
.why-items h2 {
  text-align: center;
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 40px;
}
.why-items h2::after {
  content: "";
  display: block;
  border-radius: 10px;
  width: 15%;
  height: 5px;
  background-color: #8e1616;
  margin: 5px auto 0;
}
.shop-box {
  display: flex;
  margin: auto;
  max-width: 1200px;
  gap: 50px;
}
/*-----------------------------------------------------------*/
#gallery {
  padding-top: 300px;
  width: 100px;
  height: 150px;
  margin: auto;
}
.gallery {
  max-width: 1200px;
  margin: auto;
  text-align: center;
}
.gallery h2 {
  font-size: 64px;
  font-weight: 900;
  padding-bottom: 45px;
}
.gallery h2::after {
  content: "";
  display: block;
  border-radius: 10px;
  width: 10%;
  height: 5px;
  background-color: #8e1616;
  margin: 5px auto 0;
}
.gallery-pics {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 45px;
  max-width: 90%;
}
